.sohel {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(236, 158, 248, 1) 0%,
    rgba(131, 83, 241, 1) 90.1%
  );

  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
